In [1]:
import pandas as pd
from pymongo import MongoClient

In [3]:

# Create a sample DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'Jane'],
        'Age': [28, 24, 22, 25],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

df

    Name  Age           City
0   John   28       New York
1  Alice   24  San Francisco
2    Bob   22    Los Angeles
3   Jane   25        Chicago

In [4]:


# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/")

In [48]:
# Replace "your_database_name" and "your_collection_name" with your desired names
db = client["human"]
collection = db["human"]

In [17]:
records = df.to_dict(orient='records')
records2 = df.to_dict()

In [20]:
result = collection.insert_many(records)

In [25]:
db_names = client.list_database_names()
print(db_names)

['admin', 'config', 'human', 'local']

In [51]:
for i in db.human.find():
    print(i)

{'_id': ObjectId('644d7e3df5540acee0997f07'), 'Name': 'John', 'Age': 28, 'City': 'New York'}
{'_id': ObjectId('644d7e3df5540acee0997f08'), 'Name': 'Alice', 'Age': 24, 'City': 'San Francisco'}
{'_id': ObjectId('644d7e3df5540acee0997f09'), 'Name': 'Bob', 'Age': 22, 'City': 'Los Angeles'}
{'_id': ObjectId('644d7e3df5540acee0997f0a'), 'Name': 'Jane', 'Age': 25, 'City': 'Chicago'}

In [54]:
pd.DataFrame(db.human.find())

                        _id   Name  Age           City
0  644d7e3df5540acee0997f07   John   28       New York
1  644d7e3df5540acee0997f08  Alice   24  San Francisco
2  644d7e3df5540acee0997f09    Bob   22    Los Angeles
3  644d7e3df5540acee0997f0a   Jane   25        Chicago

In [26]:
collection_names = db.list_collection_names()
print(collection_names)

['human']

In [24]:
# Store the DataFrame in MongoDB
print(f"Inserted {len(result.inserted_ids)} records")

Inserted 4 records