In [1]:
import requests
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime, timedelta
from polygon import RESTClient
from sqlalchemy import inspect

api_key = "beBybSi8daPgsTp5yx5cHtHpYcrjp5Jq"
client = RESTClient(api_key=api_key)

# Define the currency pairs to use
ticker = "C:EURUSD"


# Create the SQLite database connection
engine = create_engine('sqlite:///testing.db')

date_from = "2023-03-30"
date_to = "2023-03-30"
fxdata = client.get_aggs(ticker=ticker, multiplier=1, timespan="minute", from_=date_from, to=date_to)

    # Filter for two consecutive hours
df = pd.DataFrame([{"timestamp": fx.timestamp, "fx_rate": fx.close} for fx in fxdata])
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

df = df[(df['timestamp'].dt.hour >= 0) & (df['timestamp'].dt.hour < 2)]


df["entry_timestamp"] = datetime.utcnow()

    # store the dataframe into the sqllite databased, 
df.to_sql(f'{ticker[2:]}_data', engine, if_exists='replace', index=False)
    
print(df)

              timestamp  fx_rate            entry_timestamp
0   2023-03-30 00:00:00  1.08421 2023-04-01 01:38:00.546037
1   2023-03-30 00:01:00  1.08404 2023-04-01 01:38:00.546037
2   2023-03-30 00:02:00  1.08418 2023-04-01 01:38:00.546037
3   2023-03-30 00:03:00  1.08412 2023-04-01 01:38:00.546037
4   2023-03-30 00:04:00  1.08403 2023-04-01 01:38:00.546037
..                  ...      ...                        ...
115 2023-03-30 01:55:00  1.08323 2023-04-01 01:38:00.546037
116 2023-03-30 01:56:00  1.08316 2023-04-01 01:38:00.546037
117 2023-03-30 01:57:00  1.08314 2023-04-01 01:38:00.546037
118 2023-03-30 01:58:00  1.08320 2023-04-01 01:38:00.546037
119 2023-03-30 01:59:00  1.08316 2023-04-01 01:38:00.546037

[120 rows x 3 columns]

In [2]:

query = f'SELECT * FROM EURUSD_data'
df_EURUSD_data = pd.read_sql_query(query, engine)
print(f"EURUSD_data: {df_EURUSD_data}" )

EURUSD_data_average = df_EURUSD_data['fx_rate'].mean()
print(f"EURUSD_data_average: {EURUSD_data_average}")

EURUSD_data:                       timestamp  fx_rate             entry_timestamp
0    2023-03-30 00:00:00.000000  1.08421  2023-04-01 01:38:00.546037
1    2023-03-30 00:01:00.000000  1.08404  2023-04-01 01:38:00.546037
2    2023-03-30 00:02:00.000000  1.08418  2023-04-01 01:38:00.546037
3    2023-03-30 00:03:00.000000  1.08412  2023-04-01 01:38:00.546037
4    2023-03-30 00:04:00.000000  1.08403  2023-04-01 01:38:00.546037
..                          ...      ...                         ...
115  2023-03-30 01:55:00.000000  1.08323  2023-04-01 01:38:00.546037
116  2023-03-30 01:56:00.000000  1.08316  2023-04-01 01:38:00.546037
117  2023-03-30 01:57:00.000000  1.08314  2023-04-01 01:38:00.546037
118  2023-03-30 01:58:00.000000  1.08320  2023-04-01 01:38:00.546037
119  2023-03-30 01:59:00.000000  1.08316  2023-04-01 01:38:00.546037

[120 rows x 3 columns]
EURUSD_data_average: 1.083556916666667

In [3]:



ticker = "C:USDCAD"
date_from = "2023-03-30"
date_to = "2023-03-30"
fxdata = client.get_aggs(ticker=ticker, multiplier=1, timespan="minute", from_=date_from, to=date_to)

    # Filter for two consecutive hours
df = pd.DataFrame([{"timestamp": fx.timestamp, "fx_rate": fx.close} for fx in fxdata])
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

df = df[(df['timestamp'].dt.hour >= 0) & (df['timestamp'].dt.hour < 2)]


df["entry_timestamp"] = datetime.utcnow()

    # store the dataframe into the sqllite databased, 
df.to_sql(f'{ticker[2:]}_data', engine, if_exists='replace', index=False)
    
print(df)

              timestamp  fx_rate            entry_timestamp
0   2023-03-30 00:00:00  1.35654 2023-04-01 01:38:00.855369
1   2023-03-30 00:01:00  1.35662 2023-04-01 01:38:00.855369
2   2023-03-30 00:02:00  1.35638 2023-04-01 01:38:00.855369
3   2023-03-30 00:03:00  1.35640 2023-04-01 01:38:00.855369
4   2023-03-30 00:04:00  1.35636 2023-04-01 01:38:00.855369
..                  ...      ...                        ...
115 2023-03-30 01:55:00  1.35756 2023-04-01 01:38:00.855369
116 2023-03-30 01:56:00  1.35760 2023-04-01 01:38:00.855369
117 2023-03-30 01:57:00  1.35765 2023-04-01 01:38:00.855369
118 2023-03-30 01:58:00  1.35770 2023-04-01 01:38:00.855369
119 2023-03-30 01:59:00  1.35765 2023-04-01 01:38:00.855369

[120 rows x 3 columns]

In [4]:

query2 = f'SELECT * FROM USDCAD_data'
df_USDCAD_data = pd.read_sql_query(query2, engine)
print(f"USDCAD_data: {df_USDCAD_data}")
USDCAD_data_average = df_USDCAD_data['fx_rate'].mean()
print(f'USDCAD_data_average:  {USDCAD_data_average}')

USDCAD_data:                       timestamp  fx_rate             entry_timestamp
0    2023-03-30 00:00:00.000000  1.35654  2023-04-01 01:38:00.855369
1    2023-03-30 00:01:00.000000  1.35662  2023-04-01 01:38:00.855369
2    2023-03-30 00:02:00.000000  1.35638  2023-04-01 01:38:00.855369
3    2023-03-30 00:03:00.000000  1.35640  2023-04-01 01:38:00.855369
4    2023-03-30 00:04:00.000000  1.35636  2023-04-01 01:38:00.855369
..                          ...      ...                         ...
115  2023-03-30 01:55:00.000000  1.35756  2023-04-01 01:38:00.855369
116  2023-03-30 01:56:00.000000  1.35760  2023-04-01 01:38:00.855369
117  2023-03-30 01:57:00.000000  1.35765  2023-04-01 01:38:00.855369
118  2023-03-30 01:58:00.000000  1.35770  2023-04-01 01:38:00.855369
119  2023-03-30 01:59:00.000000  1.35765  2023-04-01 01:38:00.855369

[120 rows x 3 columns]
USDCAD_data_average:  1.357061

In [5]:



ticker = "C:USDCHF"
date_from = "2023-03-30"
date_to = "2023-03-30"
fxdata = client.get_aggs(ticker=ticker, multiplier=1, timespan="minute", from_=date_from, to=date_to)

    # Filter for two consecutive hours
df = pd.DataFrame([{"timestamp": fx.timestamp, "fx_rate": fx.close} for fx in fxdata])
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

df = df[(df['timestamp'].dt.hour >= 0) & (df['timestamp'].dt.hour < 2)]


df["entry_timestamp"] = datetime.utcnow()

    # store the dataframe into the sqllite databased, 
df.to_sql(f'{ticker[2:]}_data', engine, if_exists='replace', index=False)
    
print(df)

              timestamp  fx_rate            entry_timestamp
0   2023-03-30 00:00:00  0.91827 2023-04-01 01:38:01.114053
1   2023-03-30 00:01:00  0.91834 2023-04-01 01:38:01.114053
2   2023-03-30 00:02:00  0.91824 2023-04-01 01:38:01.114053
3   2023-03-30 00:03:00  0.91830 2023-04-01 01:38:01.114053
4   2023-03-30 00:04:00  0.91839 2023-04-01 01:38:01.114053
..                  ...      ...                        ...
115 2023-03-30 01:55:00  0.91924 2023-04-01 01:38:01.114053
116 2023-03-30 01:56:00  0.91929 2023-04-01 01:38:01.114053
117 2023-03-30 01:57:00  0.91934 2023-04-01 01:38:01.114053
118 2023-03-30 01:58:00  0.91934 2023-04-01 01:38:01.114053
119 2023-03-30 01:59:00  0.91928 2023-04-01 01:38:01.114053

[120 rows x 3 columns]

In [6]:
query3 = f'SELECT * FROM USDCHF_data'
df_USDCHF_data = pd.read_sql_query(query3, engine)
print(f"USDCHF_data: {df_USDCHF_data}" )

USDCHF_data_average = df_USDCHF_data['fx_rate'].mean()
print(f'USDCHF_data_average:  {USDCHF_data_average}')

USDCHF_data:                       timestamp  fx_rate             entry_timestamp
0    2023-03-30 00:00:00.000000  0.91827  2023-04-01 01:38:01.114053
1    2023-03-30 00:01:00.000000  0.91834  2023-04-01 01:38:01.114053
2    2023-03-30 00:02:00.000000  0.91824  2023-04-01 01:38:01.114053
3    2023-03-30 00:03:00.000000  0.91830  2023-04-01 01:38:01.114053
4    2023-03-30 00:04:00.000000  0.91839  2023-04-01 01:38:01.114053
..                          ...      ...                         ...
115  2023-03-30 01:55:00.000000  0.91924  2023-04-01 01:38:01.114053
116  2023-03-30 01:56:00.000000  0.91929  2023-04-01 01:38:01.114053
117  2023-03-30 01:57:00.000000  0.91934  2023-04-01 01:38:01.114053
118  2023-03-30 01:58:00.000000  0.91934  2023-04-01 01:38:01.114053
119  2023-03-30 01:59:00.000000  0.91928  2023-04-01 01:38:01.114053

[120 rows x 3 columns]
USDCHF_data_average:  0.9190992416666667